body {
  font-family: American Typewriter, serif;
  background: #d3d3d3;
  width: 400px;
  position: absolute;
  top: 20px;
  right: 0;
  left: 0;
  margin: auto;
}

div {
  padding-block: 4px;
}
#taskToRemove {
  font-size: 5px;
}
