<body>
<div class="container pt-3">
  <h1 class="text-center">Todo List</h1>
  <form [formGroup]="todoForm" (ngSubmit)="onSubmit()">
    <label for="todoInput" class="form-label">Todo:</label>
    <input id="todoInput" type="text" formControlName="todo" class="form-control" placeholder="Type what you have to do">
    <div class="mb-5">
      <button type="submit" [disabled]="!todoForm.valid" class="btn btn-info float-end"><i class="fas fa-plus">
      </i></button>
    </div>
  </form>
  <h2>My todos:</h2>
  <div *ngIf="todos.length === 0" class="text-center">
    No todos.
  </div>
  <ul class="list-group">
    <li *ngFor="let todo of todos" class="list-group-item">
      {{ todo }}
      <td>
        <button class="fas fa-trash-alt" (click)="deleteToDo(0)"> Delete </button>
      </td>
    </li>
  </ul>
</div>
</body>
