<body>
<div class="main" ng-app="myList" ng-controller="myController">
  <h1 class="text-center">Todo List</h1>
<!--  <form [formGroup]="todoForm" (ngSubmit)="onSubmit()">-->
    <label>Add to do:</label>
    <div class="search">
      <input type="text" placeholder="Type your todo" ng-model="addMe">
      <span ng-click="addItm()"><i class="fas fa-plus"></i></span>
<!--      <button type="submit" [disabled]="!todoForm.valid" class="btn btn-info float-end">-->
<!--        click to add-->
<!--      </button>-->
    </div>
    <div>
      <ul>
      <li ng-repeat="list">{{todos}}<i ng-click="removeFromList($index)" class="fas fa-trash-alt">
      </i>
      </li>
      </ul>
<!--      <p>{{}}</p>-->

    </div>
<!--  </form>-->
  <h2>My todos:</h2>
  <div *ngIf="todos.length === 0" class="text-center">
    No todos.
  </div>
  <ul class="list-group">
    <li *ngFor="let todo of todos" class="list-group-item">
      {{ todo }}
    </li>
  </ul>
</div>
</body>



<!--1. []-->
<!--<button [disabled]="!todoForm.valid" ></button>-->
<!--2. ()-->
<!--<button (click)="onSubmit()" )></button>-->
